<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>$class</key>
		<string>BSStructure</string>
		<key>arteryImages</key>
		<array>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string>anterior-inferior-cerebellar-4.png</string>
			<string>anterior-inferior-cerebellar-5.png</string>
			<string></string>
			<string></string>
			<string></string>
		</array>
		<key>conventionalName</key>
		<string>anterior-inferior-cerebellar-a</string>
		<key>structureName</key>
		<string>Anterior Inferior Cerebellar</string>
		<key>structureType</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>$class</key>
		<string>BSStructure</string>
		<key>arteryImages</key>
		<array>
			<string>anterior-spinal-0.png</string>
			<string>anterior-spinal-1.png</string>
			<string>anterior-spinal-2.png</string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
		</array>
		<key>conventionalName</key>
		<string>anterior-spinal-a</string>
		<key>structureName</key>
		<string>Anterior Spinal</string>
		<key>structureType</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>$class</key>
		<string>BSStructure</string>
		<key>arteryImages</key>
		<array>
			<string></string>
			<string></string>
			<string></string>
			<string>basilar-paramedian-3.png</string>
			<string>basilar-paramedian-4.png</string>
			<string>basilar-paramedian-5.png</string>
			<string>basilar-paramedian-6.png</string>
			<string>basilar-paramedian-7.png</string>
			<string>basilar-paramedian-8.png</string>
		</array>
		<key>conventionalName</key>
		<string>basilar-a</string>
		<key>structureName</key>
		<string>Basilar</string>
		<key>structureType</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>$class</key>
		<string>BSStructure</string>
		<key>arteryImages</key>
		<array>
			<string></string>
			<string></string>
			<string></string>
			<string>basilar-paramedian-3.png</string>
			<string>basilar-paramedian-4.png</string>
			<string>basilar-paramedian-5.png</string>
			<string>basilar-paramedian-6.png</string>
			<string>basilar-paramedian-7.png</string>
			<string>basilar-paramedian-8.png</string>
		</array>
		<key>conventionalName</key>
		<string>basilar-paramedian-a</string>
		<key>structureName</key>
		<string>- Basilar Paramedian</string>
		<key>structureType</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>$class</key>
		<string>BSStructure</string>
		<key>arteryImages</key>
		<array>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string>basilar-long-4.png</string>
			<string>basilar-long-5.png</string>
			<string>basilar-long-6.png</string>
			<string></string>
			<string></string>
		</array>
		<key>conventionalName</key>
		<string>basilar-long-circumferential-a</string>
		<key>structureName</key>
		<string>- Basilar Long Circumferential</string>
		<key>structureType</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>$class</key>
		<string>BSStructure</string>
		<key>arteryImages</key>
		<array>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string>basilar-short-4.png</string>
			<string>basilar-short-5.png</string>
			<string>basilar-short-6.png</string>
			<string></string>
			<string></string>
		</array>
		<key>conventionalName</key>
		<string>basilar-short-circumferential-a</string>
		<key>structureName</key>
		<string>- Basilar Short Circumferential</string>
		<key>structureType</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>$class</key>
		<string>BSStructure</string>
		<key>arteryImages</key>
		<array>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string>posterior-cerebral-7.png</string>
			<string>posterior-cerebral-8.png</string>
		</array>
		<key>conventionalName</key>
		<string>posterior-cerebral-a</string>
		<key>structureName</key>
		<string>Posterior Cerebral</string>
		<key>structureType</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>$class</key>
		<string>BSStructure</string>
		<key>arteryImages</key>
		<array>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
		</array>
		<key>conventionalName</key>
		<string>posterior-communicating-a</string>
		<key>structureName</key>
		<string>Posterior Communicating</string>
		<key>structureType</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>$class</key>
		<string>BSStructure</string>
		<key>arteryImages</key>
		<array>
			<string></string>
			<string>pica-1.png</string>
			<string>pica-2.png</string>
			<string>pica-3.png</string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
		</array>
		<key>conventionalName</key>
		<string>posterior-inferior-cerebellar-a</string>
		<key>structureName</key>
		<string>Posterior Inferior Cerebellar</string>
		<key>structureType</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>$class</key>
		<string>BSStructure</string>
		<key>arteryImages</key>
		<array>
			<string>posterior-spinal-0.png</string>
			<string>posterior-spinal-1.png</string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
		</array>
		<key>conventionalName</key>
		<string>posterior-spinal-a</string>
		<key>structureName</key>
		<string>Posterior Spinal</string>
		<key>structureType</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>$class</key>
		<string>BSStructure</string>
		<key>arteryImages</key>
		<array>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string>superior-cerebeller-5.png</string>
			<string>superior-cerebeller-6.png</string>
			<string>superior-cerebeller-7.png</string>
			<string></string>
		</array>
		<key>conventionalName</key>
		<string>superior-cerebellar-a</string>
		<key>structureName</key>
		<string>Superior Cerebellar</string>
		<key>structureType</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>$class</key>
		<string>BSStructure</string>
		<key>arteryImages</key>
		<array>
			<string>vertebral-0.png</string>
			<string>vertebral-1.png</string>
			<string>vertebral-2.png</string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
		</array>
		<key>conventionalName</key>
		<string>vertebral-a</string>
		<key>structureName</key>
		<string>Vertebral</string>
		<key>structureType</key>
		<integer>2</integer>
	</dict>
</array>
</plist>
