<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>$class</key>
		<string>BSStructure</string>
		<key>conventionalName</key>
		<string>abducens-n</string>
		<key>structureDescription</key>
		<string>Gives rise to CN-VI; controls the Lateral Rectus (to move the orbit laterally). It also signals the contralateral oculomotor nucleus via MLF so that the eyes can move together in one direction. An isolated lesion of this nucleus causes an ipsilateral ‘Lateral Rectus Palsy’. With no tension to counter the medial muscles, the orbit remains medially deviated in resting position.</string>
		<key>structureName</key>
		<string>Abducens Nucleus</string>
		<key>structureType</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>$class</key>
		<string>BSStructure</string>
		<key>conventionalName</key>
		<string>accessory-cuneate-n</string>
		<key>structureDescription</key>
		<string>Located lateral to the cuneate nucleus in the medulla, it receives sensation from the upper extremities and trunk and sends it to the cerebellum (via cuneo-cerebellar tracts).  Large diameter fibers from the cuneate fasciculus synapse at this point and project ipsilaterally through the inferior cerebellar peduncle to the cerebellum, forming the cuneato-cerebellar tract.</string>
		<key>structureName</key>
		<string>Accessory Cuneate Nucleus</string>
		<key>structureType</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>$class</key>
		<string>BSStructure</string>
		<key>conventionalName</key>
		<string>accessory-n</string>
		<key>structureDescription</key>
		<string>The fibers that form the spinal accessory nerve are formed by lower motor neurons located in the upper segments of the spinal cord. This cluster of neurons, called the spinal accessory nucleus, is located in the posterolateral aspect of the anterior horn of the spinal cord. This is in contrast to most other motor neurons, whose cell bodies are found in the spinal cord&apos;s anterior horn. The lateral horn of high cervical segments appears to be continuous with the nucleus ambiguus of the medulla oblongata, from which the cranial component of the accessory nerve is derived.</string>
		<key>structureName</key>
		<string>Accessory Nucleus</string>
		<key>structureType</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>$class</key>
		<string>BSStructure</string>
		<key>conventionalName</key>
		<string>anterior-cochlear-n</string>
		<key>structureDescription</key>
		<string>This structure receives auditory signal from the cochlea, via the Auditory Nerve. The afferent signal reaches the Spiral Ganglion, passes through the ventral acoustic striae, across the Trapezoid Body and to the contarlateral Superior Olivary Complex.</string>
		<key>structureName</key>
		<string>Anterior Cochlear Nucleus</string>
		<key>structureType</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>$class</key>
		<string>BSStructure</string>
		<key>conventionalName</key>
		<string>cuneate-n</string>
		<key>structureDescription</key>
		<string>This is the second part of the PC-ML pathway -- the system responsible for sensing vibration, position, and proprioception of the extremities; these nuclei receive upper extremity sensory signal from fasciculus cuneatus and project across, through the Internal arcuate fibers, to the contralateral medial lemniscus</string>
		<key>structureName</key>
		<string>Cuneate Nucleus</string>
		<key>structureType</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>$class</key>
		<string>BSStructure</string>
		<key>conventionalName</key>
		<string>dorsal-motor-n</string>
		<key>structureDescription</key>
		<string>Mediates parasympathetic vagal output to Lungs, Heart, and GI up to the Colic Flexure. Parasympathetic activity lowers heart rate and an increase in GI motility and bronchial tone.</string>
		<key>structureName</key>
		<string>Dorsal Motor Nucleus of Vagus</string>
		<key>structureType</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>$class</key>
		<string>BSStructure</string>
		<key>conventionalName</key>
		<string>facial-motor-n</string>
		<key>structureDescription</key>
		<string>Controls movement of facial muscles. Lesion Here will cause ipsilateral facial droop. </string>
		<key>structureName</key>
		<string>Facial Motor Nucleus</string>
		<key>structureType</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>$class</key>
		<string>BSStructure</string>
		<key>conventionalName</key>
		<string>edinger-westphal-n</string>
		<key>structureDescription</key>
		<string>These nuclei give rise to the pre-ganglionic parasympathetic fibers that synapse at the cilliary ganglion of the eye. They are responsible for pupillary constriction (via Sphincter Pupillae), accommodation (via the Cilliary muscles), and convergence of orbits.</string>
		<key>structureName</key>
		<string>Edinger-Westphal Nucleus</string>
		<key>structureType</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>$class</key>
		<string>BSStructure</string>
		<key>conventionalName</key>
		<string>gracile-n</string>
		<key>structureDescription</key>
		<string>This structure is in fact the beginning of the second order neurons of the PC-ML pathway. It receives vibration/proprioception sensation from ipsilateral lower extremity and projects across through the Internal Arcuate Fibers, and ascends as the contralateral Medial Lemniscus</string>
		<key>structureName</key>
		<string>Gracile Nucleus</string>
		<key>structureType</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>$class</key>
		<string>BSStructure</string>
		<key>conventionalName</key>
		<string>hypoglossal-n</string>
		<key>structureDescription</key>
		<string>Controls intrinsic and extrinsic muscles of the tongue (with the EXCEPTION of palatoglossus which is innervated by pharyngeal branch of the vagus nerve). A lesion here will result in ipsilateral tongue weakness manifesting as tongue deviating IPSILATERALLY upon protrusion.</string>
		<key>structureName</key>
		<string>Hypoglossal Nucleus</string>
		<key>structureType</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>$class</key>
		<string>BSStructure</string>
		<key>conventionalName</key>
		<string>inferior-olivary-n</string>
		<key>structureDescription</key>
		<string>Involved in learning of specialized motor skills. Think figure skating! It receives sensory feedback from the Spino-olivary tracts, and projects to the cerebellum, via climbing fibers traveling through the Inferior Cerebellar Peduncle.</string>
		<key>structureName</key>
		<string>Inferior Olivary Nucleus</string>
		<key>structureType</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>$class</key>
		<string>BSStructure</string>
		<key>conventionalName</key>
		<string>interpeduncular-n</string>
		<key>structureDescription</key>
		<string>Exerts inhibitory effect on many other brain regions (dampens dopamine effects). More specifically, it receives excitatory input from Medial Habenula, the Diagonal Band, the Dorsal Tegmentum, Raphe Nuclei, the Central Grey, and the Locus Ceruleus, and sends out inhibitory signal to dorsal tegmental structures.</string>
		<key>structureName</key>
		<string>Interpeduncular Nucleus</string>
		<key>structureType</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>$class</key>
		<string>BSStructure</string>
		<key>conventionalName</key>
		<string>lateral-reticular-n</string>
		<key>structureDescription</key>
		<string>Composed of three distinct sub nuclei (Parvocellular, Magnocellular, Subtrigeminal) that send signals to the cerebellum. Parvo and Magno receive information mostly from ipsiateral dorsal horn of the spinal cord and project ipsilaterally to cerebellar vermis whereas Subtrigeminal receives input mainly from the cortex and projects to the ipsilateral flocconodular lobe.</string>
		<key>structureName</key>
		<string>Lateral Reticular Nucleus</string>
		<key>structureType</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>$class</key>
		<string>BSStructure</string>
		<key>conventionalName</key>
		<string>locus-ceruleus-n</string>
		<key>structureDescription</key>
		<string>Major site for synthesis of Norepinephrine. Receives input from many regions of the brain -- hypothalamus (for regulation of autonomic functions), cyngulate gyrus/amygdala (for arousal by emotional distress), Raphe nuclei, cerebellum, etc -- and, similarly, projects to many different regions -- hypothalamus, cortex, amygdala, cerebellum, thalamus, etc, to enable stress response, arousal, neuroplasticity, attention, memory, balance and more. Decreased activity is associated with: Alzheimer’s, Parkinson’s and depression. Increased activity is associated with: anxiety, panic disorder, Opioid withdrawal.</string>
		<key>structureName</key>
		<string>Locus Ceruleus</string>
		<key>structureType</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>$class</key>
		<string>BSStructure</string>
		<key>conventionalName</key>
		<string>medial-geniculate-n</string>
		<key>structureDescription</key>
		<string>A component of the auditory pathway — thalamic structure that receives auditory signal from the inferior colliculus and projects to the primary auditory cortex (transverse temporal gyrus/Heschl&apos;s gyrus).</string>
		<key>structureName</key>
		<string>Medial Geniculate Nucleus</string>
		<key>structureType</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>$class</key>
		<string>BSStructure</string>
		<key>conventionalName</key>
		<string>medial-motor-n</string>
		<key>structureName</key>
		<string>Medial Motor Nuclei</string>
		<key>structureType</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>$class</key>
		<string>BSStructure</string>
		<key>conventionalName</key>
		<string>mesencephalic-n</string>
		<key>structureDescription</key>
		<string>This cluster of neurons carries proprioception sensation of the jaw to the Trigeminal Motor Nuclei; it can be further identified as the afferent component of the Jaw Jerk Reflex. Lesion to this structure will result in loss of Jaw Jerk Reflex.</string>
		<key>structureName</key>
		<string>Mesencephalic Nucleus</string>
		<key>structureType</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>$class</key>
		<string>BSStructure</string>
		<key>conventionalName</key>
		<string>nucleus-ambiguus-n</string>
		<key>structureDescription</key>
		<string>Gives rise to the motor (brachial) fibers of Vagus Nerve that innervate laryngeal and pharyngeal muscles, as well as motor fibers of Glossopharyngeal Nerve (CN IX) that innervate stylopharyngeus</string>
		<key>structureName</key>
		<string>Nucleus Ambiguus</string>
		<key>structureType</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>$class</key>
		<string>BSStructure</string>
		<key>conventionalName</key>
		<string>nucleus-centralis-superior-n</string>
		<key>structureDescription</key>
		<string>Project towards higher brain regions.</string>
		<key>structureName</key>
		<string>Nucleus Centralis Superior</string>
		<key>structureType</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>$class</key>
		<string>BSStructure</string>
		<key>conventionalName</key>
		<string>nucleus-raphe-dorsalis-n</string>
		<key>structureDescription</key>
		<string>This nucleus can be sub-divided into rostral and caudal portions, each with a distinct group of sub-nuclei. This complex plays a major role is production and delivery of serotonin to many higher brain regions; its malfunction is related to depression and other mood disorders.</string>
		<key>structureName</key>
		<string>Nucleus Raphe Dorsalis</string>
		<key>structureType</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>$class</key>
		<string>BSStructure</string>
		<key>conventionalName</key>
		<string>nucleus-raphe-magnus-n</string>
		<key>structureDescription</key>
		<string>Receives signal from Periaqueductal Grey, paraventricular nuclei of hypothalamus, and amygdala. It projects within the brainstem and along the spinal chord (dorsal horns) where it releases enkephalin, an endogenous analgesic.</string>
		<key>structureName</key>
		<string>Nucleus Raphe Magnus</string>
		<key>structureType</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>$class</key>
		<string>BSStructure</string>
		<key>conventionalName</key>
		<string>nucleus-raphe-obscurus-n</string>
		<key>structureDescription</key>
		<string>Projects to the cerebellum. Experimental abalation of this region suggests functional link to Hypoglossal nerve and possible role increased GI motility.</string>
		<key>structureName</key>
		<string>Nucleus Raphe Obscurus</string>
		<key>structureType</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>$class</key>
		<string>BSStructure</string>
		<key>conventionalName</key>
		<string>nucleus-raphe-pallidus-n</string>
		<key>structureDescription</key>
		<string>Receives axons from  the periaquaductal gray, hypothalamic nuclei, and amygdala. This n. is involved in fever activation and tachycardic response to emotional or psychological stress.</string>
		<key>structureName</key>
		<string>Nucleus Raphe Pallidus</string>
		<key>structureType</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>$class</key>
		<string>BSStructure</string>
		<key>conventionalName</key>
		<string>nucleus-raphe-pontis-n</string>
		<key>structureDescription</key>
		<string>Projects to the cerebellum.</string>
		<key>structureName</key>
		<string>Nucleus Raphe Pontis</string>
		<key>structureType</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>$class</key>
		<string>BSStructure</string>
		<key>conventionalName</key>
		<string>oculomotor-n</string>
		<key>structureDescription</key>
		<string>Located at the rostral midbrain, these nuclei controls 4 of the 6 intrinsic muscles of the eye (Superior Rectus, Medial Rectus, Inferior Rectus, Inferior Oblique) as well as the the eyelid’s Levator palpebrae Superioris. Lesion to this structure will results in ptosis and a dilated pupil that points “down and out”</string>
		<key>structureName</key>
		<string>Oculomotor Nucleus</string>
		<key>structureType</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>$class</key>
		<string>BSStructure</string>
		<key>conventionalName</key>
		<string>principal-n</string>
		<key>structureDescription</key>
		<string>Perceives light touch from the face, and proprioception from the jaw muscles. Transfers most of this input to contralateral VPM (via ventral trigeminothalamic tract). The sensory information from the oral cavity is sent to ipsilateral VPM via the Dorsal Trigeminothalamic Tract.</string>
		<key>structureName</key>
		<string>Principal Nucleus</string>
		<key>structureType</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>$class</key>
		<string>BSStructure</string>
		<key>conventionalName</key>
		<string>pontine-n</string>
		<key>structureDescription</key>
		<string>Receive motor signal from ipsilateral motor cortex and send it to contralateral cerebellum (through Middle cerebellar peduncle). These nuclei play a central role in learning of motor skills that are refined through feedback.</string>
		<key>structureName</key>
		<string>Pontine Nuclei</string>
		<key>structureType</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>$class</key>
		<string>BSStructure</string>
		<key>conventionalName</key>
		<string>posterior-cochlear-n</string>
		<key>structureDescription</key>
		<string>Receives signals from the cochlea, through the Auditory Nerve. The axons project as the Intermediate Acoustic Striae which joins the ascending fibers in the contralateral lateral lemniscus as they travel to Inferior Colliculus.</string>
		<key>structureName</key>
		<string>Posterior Cochlear Nucleus</string>
		<key>structureType</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>$class</key>
		<string>BSStructure</string>
		<key>conventionalName</key>
		<string>reticulotegmental-n</string>
		<key>structureDescription</key>
		<string>Dorsal (and topographically related) to pontine nuclei. Contains large amount of multipolar cells. Affects cerebellar functions.</string>
		<key>structureName</key>
		<string>Reticulotegmental Nucleus</string>
		<key>structureType</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>$class</key>
		<string>BSStructure</string>
		<key>conventionalName</key>
		<string>red-n</string>
		<key>structureDescription</key>
		<string>Neurons of this region project to the cerebellum (as part of the inferior olivary complex) and the spinal cord (as the rubro-spinal tracts). They are associated with minor motor functions -- arm flexion during gait and in infant crawling. An isolated lesion to this region may manifest as palatal myoclonus.</string>
		<key>structureName</key>
		<string>Red Nucleus</string>
		<key>structureType</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>$class</key>
		<string>BSStructure</string>
		<key>conventionalName</key>
		<string>salivatory-n</string>
		<key>structureDescription</key>
		<string>These nuclei consist of Parasympathetic pre-ganglionic neurons that project to the otic ganglia, which, in turn innervate and stimulate the parotid glad.</string>
		<key>structureName</key>
		<string>Salivatory Nucleus</string>
		<key>structureType</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>$class</key>
		<string>BSStructure</string>
		<key>conventionalName</key>
		<string>solitary-n</string>
		<key>structureDescription</key>
		<string>The Solitary n. receives many types of visceral sensory information: Gustatory information via CN VII and CN IX; Heart, Lungs and GI visceral sensation via CN IX and CN X; Carotid Body chemoreceptors via CN IX; Aortic Body chemoreceptors via CN X. The solitary nuclei receive and forward the signals to the paraventricular nuclei of Hypothalamus and Central nuclei of Amygdala.</string>
		<key>structureName</key>
		<string>Solitary Nucleus and Tract</string>
		<key>structureType</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>$class</key>
		<string>BSStructure</string>
		<key>conventionalName</key>
		<string>spinal-trigeminal-n</string>
		<key>structureDescription</key>
		<string>These nuclei receive information about crude touch, pain &amp; temperature from the ipsilateral face. In addition to the Trigeminal Nerve (CN V), the spinal trigeminal nuclei receive pain input from cranial nerves V, VII, IX, and X.</string>
		<key>structureName</key>
		<string>Spinal Trigeminal Nucleus</string>
		<key>structureType</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>$class</key>
		<string>BSStructure</string>
		<key>conventionalName</key>
		<string>substantia-nigra-n</string>
		<key>structureDescription</key>
		<string>The substantia nigra, along with four other nuclei, is part of the basal ganglia. It is the largest nucleus in the midbrain, lying dorsal to the cerebral peduncles. Humans have two substantiae nigrae, one on each side of the midline.</string>
		<key>structureName</key>
		<string>Substantia Nigra</string>
		<key>structureType</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>$class</key>
		<string>BSStructure</string>
		<key>conventionalName</key>
		<string>trigeminal-motor-n</string>
		<key>structureDescription</key>
		<string>The nuclei innervate muscles of the first branchial arch: muscles of mastication, the tensor tympani, tensor veli palatini, mylohyoid, and anterior belly of the digastric. </string>
		<key>structureName</key>
		<string>Trigeminal Motor Nucleus</string>
		<key>structureType</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>$class</key>
		<string>BSStructure</string>
		<key>conventionalName</key>
		<string>trochlear-n</string>
		<key>structureDescription</key>
		<string>These nuclei control the Superior Oblique mucle of the eye, enabling (1) depression of the eyeball, especially when the eye is adducted; and (2) intorsion of the eyeball, especially when the eye is abducted. The trochlear nucleus is unique in that its axons run dorsally and cross the midline before emerging from the brainstem posteriorly. Thus a lesion of the trochlear nucleus affects the contralateral eye. </string>
		<key>structureName</key>
		<string>Trochlear Nucleus</string>
		<key>structureType</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>$class</key>
		<string>BSStructure</string>
		<key>conventionalName</key>
		<string>vestibular-inferior-n</string>
		<key>structureDescription</key>
		<string>Responsible for integrating vestibular signals. Receives input from the semicircular canals, utricle, saccule, and vermis of cerebellum. Efferent fibers project to the reticular nuclei, as the Vestibuloreticular Tract, or travel down through the spinal cord as the Vestibulospinal Tract.</string>
		<key>structureName</key>
		<string>Vestibular Nucleus (Inferior)</string>
		<key>structureType</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>$class</key>
		<string>BSStructure</string>
		<key>conventionalName</key>
		<string>vestibular-superior-n</string>
		<key>structureDescription</key>
		<string>The superior vestibular nucleus is the dorso-lateral part of the vestibular nucleus and receives collaterals and terminals from the ascending branches of the vestibular nerve. Sends uncrossed fibers to cranial nerve 3 and 4 via MLF.</string>
		<key>structureName</key>
		<string>Vestibular Nucleus (Superior)</string>
		<key>structureType</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>$class</key>
		<string>BSStructure</string>
		<key>conventionalName</key>
		<string>vestibular-medial-n</string>
		<key>structureDescription</key>
		<string>Receives input from the semicircular canals and sends efferent fibers to the cervical spinal cord where it controls muscles of the neck to adjust and stabilize head movements.</string>
		<key>structureName</key>
		<string>Vestibular Nucleus (Medial)</string>
		<key>structureType</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>$class</key>
		<string>BSStructure</string>
		<key>conventionalName</key>
		<string>vestibular-lateral-n</string>
		<key>structureDescription</key>
		<string>These nuclei consist of large multipolar cells whose axons bifurcate to reach their proper destinations: the ascending axons ascend along MLF to reach and innervate nuclei that control eye movement (Oculomotor, Trochlear, and Abducens); they coordinate eye movement with head position. The descending branches travel as the vestibulospinal tract to reach motor nuclei of the anterior column</string>
		<key>structureName</key>
		<string>Vestibular Nucleus (Lateral)</string>
		<key>structureType</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
