<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>$class</key>
		<string>BSStructure</string>
		<key>conventionalName</key>
		<string>anterior-corticospinal-t</string>
		<key>structureDescription</key>
		<string>Part of the medial motor system, is responsible for motor control from primary motor cortex and supplementry motor area.  ACST fibers control cervical and thoracic trunk muscles. While most of the fibers of the corticospinal tract decussate at the medullary pyramidal decussation, forming the LATERAL Corticospinal Tract, The ANTERIOR Corticospinal Tract descends uncrossed until it reaches the spinal cord level of innervation.</string>
		<key>structureName</key>
		<string>Anterior Corticospinal Tract</string>
		<key>structureType</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>$class</key>
		<string>BSStructure</string>
		<key>conventionalName</key>
		<string>anterior-spinocerebellar-t</string>
		<key>structureName</key>
		<string>Anterior Spinocerebellar Tract</string>
		<key>structureType</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>$class</key>
		<string>BSStructure</string>
		<key>conventionalName</key>
		<string>anterolateral-system-t</string>
		<key>structureDescription</key>
		<string>Composed of secondary sensory neurons Involved in pain, temperature and crude touch sensory experience. This system is composed of three parts: (1) Spinothalamic tracts helps localize a stimulus by relaying information to thalamic VPL nucleus, (2) Spinotectal tracts mediate arousal in response to a stimulus (3) Spinoreticular tracts are involved in movement of the eyes towards a stimulus. (ALS fibers decussated at spinal level via anterior commissure). Lesion manifests as loss of Pain and Temperature sensation on the contralateral side of the body. </string>
		<key>structureName</key>
		<string>Anterolateral System</string>
		<key>structureType</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>$class</key>
		<string>BSStructure</string>
		<key>conventionalName</key>
		<string>cerebellothalamic-t</string>
		<key>structureDescription</key>
		<string>aka Dentatothalamic Tract; Links the cerebellar (Dentate) nn.  to contralateral thalamus (VA/VL). Associated with hereditary dystonia.</string>
		<key>structureName</key>
		<string>Cerebellothalamic Tract</string>
		<key>structureType</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>$class</key>
		<string>BSStructure</string>
		<key>conventionalName</key>
		<string>central-tegmental-t</string>
		<key>structureDescription</key>
		<string>This pathway has two parts to it: 1) The ascending tracts connect Solitary n.  to VPM of thalamus. 2) The descending tracts connect Parvocellular Red n.  to contralateral cerebellum. Damage to this region can manifest as Palatal Myocolonus, as featured in medial superior pontine syndrome.</string>
		<key>structureName</key>
		<string>Central Tegmental Tract</string>
		<key>structureType</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>$class</key>
		<string>BSStructure</string>
		<key>conventionalName</key>
		<string>corticobulbars-t</string>
		<key>structureDescription</key>
		<string>Also known as  corticonuclear tracts; they deliver motor signals from the motor cortex to various CN nuclei. Its fibers pass through the genu of internal capsule and descend through the cerebral peduncle, medial to the coticospinal tract. Nearly all CN nuclei receive input from both hemispheres, with the EXCEPTION of the Motor n. of CNVII: the lower division of the facial nerve nn. (the component that controls the lower face) receives innervation from the contralateral cortex ONLY. A cerebral stroke causes contralateral paralysis of the lower face, but the forehead, receiving additional innervation ipsilaterally, will be spared </string>
		<key>structureName</key>
		<string>Corticobulbar Tracts</string>
		<key>structureType</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>$class</key>
		<string>BSStructure</string>
		<key>conventionalName</key>
		<string>corticospinal-t</string>
		<key>structureDescription</key>
		<string>Transmits motor signals generated by the motor cortex (precentral gyrus). Its fibers squeeze through the anterior limb of the internal capsule, down the cerebral penduncle (midbrain), and through ventro-medial pons and medulla. Most of the fibers decussate within the caudal medualla (pyramidal decussation) to form the LATERAL Conticospinal Tract. LCST provides motor innervation to contralateral body. A subgroup of fibers continue ipsilaterally as the Anterior Corticospinal Tract. Unilateral lesion of this tract (within the brainstem) will result in contralateral spastic paresis with UMN signs (increased DTR, increased muscle tone, (+) Babinsky sign)</string>
		<key>structureName</key>
		<string>Corticospinal Tract</string>
		<key>structureType</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>$class</key>
		<string>BSStructure</string>
		<key>conventionalName</key>
		<string>cuneate-fasciculus-t</string>
		<key>structureDescription</key>
		<string>The fibers of the dorsal columns synapse with their second order neurons at the Gracile and Cuneate nn. . These 2* neurons decussate as the arcuate fibers and continue up as the medial lemniscus.</string>
		<key>structureName</key>
		<string>Cuneate Fasciculus</string>
		<key>structureType</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>$class</key>
		<string>BSStructure</string>
		<key>conventionalName</key>
		<string>dorsal-trigeminothalamic-t</string>
		<key>structureName</key>
		<string>Posterior Trigeminothalamic Tract</string>
		<key>structureType</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>$class</key>
		<string>BSStructure</string>
		<key>conventionalName</key>
		<string>gracile-fasciculus-t</string>
		<key>structureDescription</key>
		<string>Axons that carry fine touch, vibratory, and proprioceptive sensory information from the lower body (T7 and below). Synapses with the second order neurons (i.e. Gracile n. ) at the caudal medulla. </string>
		<key>structureName</key>
		<string>Gracile Fasciculus</string>
		<key>structureType</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>$class</key>
		<string>BSStructure</string>
		<key>conventionalName</key>
		<string>lateral-lemniscus-t</string>
		<key>structureDescription</key>
		<string>Carries auditory signals from the Cochlear Nuc. to various nn.  in the brainstem. Terminates at the Inferior Colliculus.</string>
		<key>structureName</key>
		<string>Lateral Lemniscus</string>
		<key>structureType</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>$class</key>
		<string>BSStructure</string>
		<key>conventionalName</key>
		<string>medial-lemniscus-t</string>
		<key>structureName</key>
		<string>Medial Lemniscus</string>
		<key>structureType</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>$class</key>
		<string>BSStructure</string>
		<key>conventionalName</key>
		<string>medial-longitudinal-fasciculus-t</string>
		<key>structureDescription</key>
		<string>Arising from the vestibular nn. , these fibers are part of a system that ensures synchronized contraction/relaxation of intrinsic muscles of the eye.  Lesion (e.g. demyelination due to Multiple Sclerosis) will result in Inter-nuclear Opthalmoplegia (nystagmus and diplopia). .</string>
		<key>structureName</key>
		<string>Medial Longitudinal Fasciculus</string>
		<key>structureType</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>$class</key>
		<string>BSStructure</string>
		<key>conventionalName</key>
		<string>posterior-longitudinal-fasciculus-t</string>
		<key>structureDescription</key>
		<string>1) Ascending fibers convey visceral sensation from Solitary n.  to the hypothalamus (posterior and periventricular nn. ). 2) Descending fibers project from the hypothalamus (paraventricular, periventricular, and supraoptic nn. ), through the periaqueductal grey, carrying autonomic signals to various locations (ventral tegmentum, Dorsal Motor n.  of Vagus, Salivatory n. , medullary autonomic centers, and preganglionic neurons located throughout the spinal cord).</string>
		<key>structureName</key>
		<string>Posterior Longitudinal Fasciculus</string>
		<key>structureType</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>$class</key>
		<string>BSStructure</string>
		<key>conventionalName</key>
		<string>posterior-spinocerebellar-t</string>
		<key>structureName</key>
		<string>Posterior Spinocerebellar Tract</string>
		<key>structureType</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>$class</key>
		<string>BSStructure</string>
		<key>conventionalName</key>
		<string>reticulospinal-fibers-t</string>
		<key>structureName</key>
		<string>Reticulospinal Fibers</string>
		<key>structureType</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>$class</key>
		<string>BSStructure</string>
		<key>conventionalName</key>
		<string>rubrospinal-t</string>
		<key>structureDescription</key>
		<string>Transfers crude and fine motor movements of the upper extremities; mostly associated with muscles of flexion.</string>
		<key>structureName</key>
		<string>Rubrospinal Tract</string>
		<key>structureType</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>$class</key>
		<string>BSStructure</string>
		<key>conventionalName</key>
		<string>spinal-trigeminal-t</string>
		<key>structureDescription</key>
		<string>Carries pain, temperature, and crude touch sensation from ipsilateral face to contralateral VPM of thalamus. </string>
		<key>structureName</key>
		<string>Spinal Trigeminal Tract</string>
		<key>structureType</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>$class</key>
		<string>BSStructure</string>
		<key>conventionalName</key>
		<string>tectospinal-t</string>
		<key>structureDescription</key>
		<string>Coordinates movements of head, neck and eye in response to visual and auditory stimuli. Fibers run from the tectal brainstem to the cervical spinal cord&apos;s Rexed Lamina (layers: VI, VII, VIII). .</string>
		<key>structureName</key>
		<string>Tectospinal Tract</string>
		<key>structureType</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>$class</key>
		<string>BSStructure</string>
		<key>conventionalName</key>
		<string>ventral-trigeminothalamic-t</string>
		<key>structureDescription</key>
		<string>Carries ascending pain, temperature, and crude touch sensations from face, head and neck (afferents of CN: V, VII, IX &amp; X). Travels from spinal trigeminal nucleus to the thalamic VPM nucleus.  Also referred to as the anterior trigeminothalamic tract.</string>
		<key>structureName</key>
		<string>Anterior Trigeminothalamic Tract</string>
		<key>structureType</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>$class</key>
		<string>BSStructure</string>
		<key>conventionalName</key>
		<string>vestibulospinal-and-reticulospinal-t</string>
		<key>structureName</key>
		<string>Vestibulospinal Tract</string>
		<key>structureType</key>
		<integer>1</integer>
	</dict>
</array>
</plist>
